<%- include('../partials/header')  %>
<h1>Show page</h1>



<!-- Image -->
<img src="<%= image.image %>">
<p><%= image.caption %></p>

<!-- Delete/Edit buttons -->
<p>
    <form action="/images/<%=image._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <form action="/images/<%= image._id %>/edit" method="GET">
        <button>Edit</button>
    </form>
</p>

<!-- Show comments -->
<% for (const comment of image.comments) {%>
    <div style="margin: 30px; padding: 40px; border: solid 1px black">
        <b>
            <%= comment.username %>
        </b>
        <br>
        <%= comment.comment %>
        <!-- Delete comment -->
        <form action="/images/<%=image._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" >
            <button>Delete comment</button>
        </form>
    </div>
<% } %>
<!-- Add comment -->
<form action="/images/<%=image._id%>/comments" method="POST">
    <input type="text" name="comment[username]" placeholder="Commenter name">
    <br>
    <textarea rows="10" cols="50" id="textbox" placeholder="Add comment" name="comment[comment]"></textarea>
    <button>Comment!</button>
</form>
