<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">
<link href="/style/styles.css" rel="stylesheet" type="text/css">

<%- include('partials/header') %>

<main>

    <br>
    <div class="card">
        <div class="card-body">

            <img src="<%= user.pfp.url %>" width="90" alt="">
            <p4> <%= user.username %></p4>

            <form action="/<%= user.username %>/followers" method="post">
                <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
                <input type="hidden" id="isBeingFollowed" name="isBeingFollowed" value="<%= isBeingFollowed %>">
                <input type="hidden" id="duplicateUser" name="duplicateUser" value="<%= duplicateUser %>">
                <button type="submit">followers</button>
            </form>
            <var1> <%= user.followers.length %> </var1>

            <form action="/<%= user.username %>/follows" method="post">
                <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
                <input type="hidden" id="isBeingFollowed" name="isBeingFollowed" value="<%= isBeingFollowed %>">
                <input type="hidden" id="duplicateUser" name="duplicateUser" value="<%= duplicateUser %>">
                <button type="submit">followings</button>
            </form>
            <var2> <%= user.follows.length %> </var2>

            <div class="container">
                <div class="gallery">
                    <% for (const image of user.images) { %>
                        <a href="/images/<%= image._id %>">
                            <img class="galleryimage"
                                 src="<%= image.url %>"
                                 alt="">
                        </a>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
    <form action="/follow?_method=PUT" method="post"
    <% if (isBeingFollowed || duplicateUser) { %>
          style="display: none"
            <% } %>
    >
        <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
        <button type="submit">Follow
        </button>
    </form>
    <form action="/unfollow?_method=PUT" method="post"
    <% if (!isBeingFollowed || duplicateUser) { %>
          style="display: none"
            <% } %>
    >
        <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
        <button type="submit">Unfollow</button>
    </form>

    <div id="overlay"
    <% if (overlay) { %>
         class="active">
        <% } %>
    </div>

    <div id="myModal" class="modal" style="display: block">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-body">
                <p>Haha</p>
                <% usersList.forEach(f => { %>
                    <p><a href="/<%= f%>"><%=f%></a></p>
                <% })%>
            </div>
        </div>
    </div>

</main>

<script>
    function openModal() {
        console.log('open modal')
    }
</script>

<%- include('./partials/footer') %>


