<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<link href="/style/Profile.css" rel="stylesheet" type="text/css">

<%- include('partials/header') %>

<main>
    <div class = "profile-container">
        <div class="profile-header">
            <div class="user-container" id="user-pic">
                <div class="pic">
                    <img src="<%= user.pfp.url %>" width="150" alt="" >
                </div>
            </div>
            <div class="user-container" id="user-info">
                <h1 class="name"><%= user.username %></h1>
                <div class="info">
                    <button type="button">followers</button>
                     <%= user.followers.length %>
                    <button type="button">following</button>
                     <%= user.follows.length %>
                </div>
                <div class="user-bio">
                    <h2>this is the bio. </h2>
                </div>
            </div>
        </div>
        <div class="posts">
          <!--  <% for (const image of user.images) { %>
                        <a href="/images/<%= image._id %>">
                            <img class="galleryimage"
                                 src="<%= image.url %>" alt="">
                        </a>
                 <% } %>
                 -->
            <div class="row">
                <div class="column1">
                </div>
                <div class="column2">
                </div>
                <div class="column3">
                </div>
        </div>
    </div>

    <!-- Follow/Unfollow buttons -->
        <form action="/follow?_method=PUT" method="post"
        <% if (isBeingFollowed || duplicateUser) { %>
              style="display: none"
                <% } %>
        >
            <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
            <button type="submit">Follow
            </button>
        </form>
        <form action="/unfollow?_method=PUT" method="post"
        <% if (!isBeingFollowed || duplicateUser) { %>
              style="display: none"
                <% } %>
        >
            <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
            <button type="submit">Unfollow</button>
        </form>

    </div>
</main>


<%- include('./partials/footer') %>
