<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">
<link href="/style/Profile.css" rel="stylesheet" type="text/css">

<%- include('partials/header') %>

<main>

    <br>
    <div class="cardd">

        <div class="card-body-p">
            <div class ="boxes">
                <div class="Bio">
                    <img src="<%= user.pfp.url %>" width="150"  alt="">
                    <p4> <%= user.username %></p4>
                    <button type="button">followers</button>
                    <var1> <%= user.followers.length %> </var1>
                    <button type="button">following</button>
                     <var2> <%= user.follows.length %> </var2>
                </div>
                    <div class="Bio">
                        <p>I'm a Barbadian singer, actress, and businesswoman. </p>
                        <p>Born in Saint Michael and raised in Bridgetown, Barbados. </p>
                        <p>Discovered by American record producer Evan Rogers. </p>
                    </div>
            </div>
            <div class="container-for-profile">
                <div class="gallery">
                    <% for (const image of user.images) { %>
                        <a href="/images/<%= image._id %>">
                            <img class="galleryimage"
                                 src="<%= image.url %>" alt="">
                        </a>
                    <% } %>
                </div>
            </div>
    </div>
    <form action="/follow?_method=PUT" method="post"
    <% if (isBeingFollowed || duplicateUser) { %>
                style="display: none"
                <% } %> >
        <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
        <button type="submit">Follow
        </button>
    </form>
    <form action="/unfollow?_method=PUT" method="post"
    <% if (!isBeingFollowed || duplicateUser) { %>
          style="display: none"
            <% } %> >
        <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
        <button type="submit">Unfollow</button>
    </form>
    </div>
</main>


<%- include('./partials/footer') %>
